.header {
  height: 34vw;
  margin: 30px auto;
  
  background-size: contain;
  position: relative;
 
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}
.header-contents h2 {
  font-weight: 500;
  color: white; 
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  color: white;
  font-size: 1vw;
}

.header-contents button {
  border: none;         
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;       
}
.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}
.explore-menu-list-item p {
  margin-top: 10px;
  color: #747474;           
  font-size: max(1.4vw, 16px);
  cursor: pointer;         
}