.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-menu h1 {
  color: #262626;
  font-weight: 500;
}

.explore-menu-text {
  max-width: 60%;
  color: #808080; 
}
.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}
.explore-menu-list-item .active {
  border: 4px solid tomato;
  padding: 2px;
}
